<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--用於作為buildType用-->
    <add key="isSce" value="false" />
    <!--只用在同步點名功能 http://api.sce.pccu.edu.tw/iCanApi/Services/
    -->
    <add key="appiCanAPI" value="http://140.137.200.157/iCanApi/Services/" />
    <!--用於呼叫uDollarAPI資料-->
    <add key="uDollarWebService" value="https://udollar.sce.pccu.edu.tw/uDollar/WebService/QueryTransaction.asmx?op=" />
    <!--用於呼叫uDollarAPI資料Key-->
    <add key="uDollarOtherKey" value="2700585829903203" />
    <!--用於設定無組織名稱代碼-->
    <add key="FlipusOrgName" value="amateur" />
    <!--用於寄信MailServer的Domain-->
    <!-- 原本10.168.18.106 | google :smtp.gmail.com-->
    <add key="MailDomain" value="smtp.gmail.com" />
    <!--用於寄信MailServer的寄信帳號-->
    <add key="MailAdminAddress" value="app@g.sce.pccu.edu.tw" />
    <!--用於寄信MailServer的寄信密碼-->
    <!-- 原本Sce27005858-->
    <add key="MailAdminPassword" value="Sce#8326" />
    <!-- 原本465-->
    <add key="MailSMTPPort" value="587" />
    <!-- 用於IOT的Url-->
    <add key="IOTUrl" value="https://iot.cht.com.tw/iot/v1/device" />
    <!-- 用於mqtt的Url-->
    <add key="ConnectMQTTUrl" value="iot.cht.com.tw" />
    <!-- 用於mqtt的key-->
    <add key="MQTTAccessKey" value="PKZACASXYUJWQU2260" />
    <!-- 用於mqtt的key-->
    <add key="MQTTTestAccessKey" value="PKZNQ1PIR44J9JHZMW" />
    <!-- 用於mqtt的key-->
    <add key="MQTTMotionAccessKey" value="PKK5W0ZTG4PK5B9S09" />
    <!-- 上傳檔案的路徑-->
    <add key="DrivePath" value="D:\iCanFileData" />
    <!-- 刪除檔案的路徑，回復用-->
    <add key="DriveDeletePath" value="D:\iCanFileData/deleteData" />
    <!-- 最大縮圖寬度-->
    <add key="maxImgWidth" value="640" />
    <!-- 最大縮圖高度-->
    <add key="maxImgHeight" value="480" />
    <!-- 取得天氣API-->
    <add key="weatherAPIUrl" value="http://api.openweathermap.org/data/2.5/weather" />
    <!--推播Sender正式機要換成iCan-->
    <add key="push-senderid" value="iCan2" />
    <add key="push-service-token-url" value="http://app.sce.pccu.edu.tw/icanapi/api/RequestPushAccessCode" />
    <!--<add key="push-service-token-account" value="iCan" />-->
    <add key="push-service-token-account" value="iCan2" />
    <add key="push-service-token-password" value="iCanLoginPwd" />
    <add key="push-service-url" value="http://app.sce.pccu.edu.tw/icanapi/api/MakePushNotification" />
    <!--FirebasePush 文大阪iCan Firebase -->
    <add key="firebasePushUrl" value="https://fcm.googleapis.com/fcm/send" />
    <!--<add key="firebasePushApiKey" value="AAAAo7P8fow:APA91bEkh9nvtR5sxSZ9LEapZFfUrlp8E8mfq3dRItYxsyAMD2RuAUMiUrfMp8UVYHKASW2iM_4WSzdUMTnsdb0GTW1bYrZ6YKuuyVxk_nr1hTYYw9w9sTmwPcCNWzSz7wK3nCPimq1d" />
        <add key="firebasePushSenderId" value="703099338380" />-->
    <!--Flipus Firebase金鑰 -->
    <add key="firebaseIosPushSound" value="kakao.caf" />
    <add key="firebasePushApiKey" value="AAAANOUD68c:APA91bGZikUPhGjBkqxMtzz04uLIRyih6Lcg3U6C7jjaeLfGoSJnEVc-v-IBRd9A7H1vp1gJbX2p1oVI10toQaDqMKHbzJtQY3nIg2GPalu8PxhhdUi0kL1--Z96lidiCqqU8cw30mkzEOaleEyV81nwLjPynPduZw" />
    <add key="firebasePushSenderId" value="227180538823" />
    <!--與ican5溝通的登入Triple驗證參數-->
    <add key="des-key" value="ICANSCEAPPDESKEY27005858" />
    <add key="des-iv" value="27005858" />
    <!--登入驗證參數-->
    <add key="ican-signin-url" value="http://ican.sce.pccu.edu.tw/webservice/signincheck.ashx" />
    <add key="ican-checktoken-url" value="http://ican.sce.pccu.edu.tw/ican5/signonmantokenauth.ashx" />
    <add key="ican-signin-token" value="f019a33b807a432bab8619caa53ede83" />
    <!--舊的domain<add key="teacherTempGoogleDriveFolder" value="0B32nbEJXrDe6RWpFYXRMOE5KWnc" />-->
    <add key="teacherTempGoogleDriveFolder" value="0B2CExVYaoFfPTHRCZEllR0lZN2c" />
    <!--舊的domain <add key="studentTempGoogleDriveFolder" value="0B32nbEJXrDe6V1JEOVM0dTV6c2M" />-->
    <add key="studentTempGoogleDriveFolder" value="0B2CExVYaoFfPTHRCZEllR0lZN2c" />
    <!--舊的domain<add key="teacherTempMaterialGoogleDriveFolder" value="0B32nbEJXrDe6QVkzQ0stTk5UNjQ" />-->
    <add key="teacherTempMaterialGoogleDriveFolder" value="0B2CExVYaoFfPR1lRWFNGclNaQ00" />
    <add key="td_IV" value="SuFjcEmp/TE=" />
    <add key="td_Key" value="KIPSToILGp6fl+3gXJvMsN4IajizYBBT" />
    <add key="organizationId" value="1" />
    <add key="loginServer" value="http://localhost:14809/" />
    <!--<add key="loginServer" value="http://140.137.200.157/iThink_admin/" />-->
    <!--<add key="loginServer" value="http://140.137.200.157/iThink/" />-->
    <!--舊的domain<add key="googleDriveSystemManager" value="yushuchen" />-->
    <add key="googleDriveSystemManager" value="ithinkdev" />
    <!--<add key="applyServer" value="http://140.137.200.157/iThink/" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--舊的domain<add key="serviceAccount" value="myoffice-service-account@myoffice-1252.iam.gserviceaccount.com" />
    舊的domain<add key="clientID" value="105563108057853507098" />
    舊的domain<add key="domain" value="scepccu.net" />-->
    <add key="serviceAccount" value="service@ithink-144306.iam.gserviceaccount.com" />
    <add key="clientID" value="114831114505395766378" />
    <add key="domain" value="g.scenet.pccu.edu.tw" />
    <add key="resourceOwner" value="ithinkdev" />
    <add key="GoogleDriveMaxCount" value="9999" />
    <add key="SystemAdmin" value="iThinkAdmin" />
    <add key="SystemAdminPwd" value="iThinkPa$$w0rd" />
    <add key="AppLoginKey" value="IOSAndroidSCEAPP27005858" />
    <add key="iCanLoginKey" value="ICANSCEAPPDESKEY27005858" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--pako 27005858
  data source=scedev.database.windows.net,1433;initial catalog=iCAN6DB;User ID=yushuchen;Password=Scedev#8403;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework" providerName="System.Data.SqlClient"
    data source=hkxf.database.windows.net,1433;initial catalog=flipus;User ID=pako;Password=Tel!27005858;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework" providerName="System.Data.SqlClient" 
    -->
    <!--<add name="iThinkDB" connectionString="data source=icanbeta3;initial catalog=iThink.Web.Models.iThinkModels;User ID=iThinkConn;Password=asdf1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="AzureDB" connectionString="data source=hkxf.database.windows.net,1433;initial catalog=flipus;User ID=pako;Password=Tel!27005858;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AzureTestDB" connectionString="data source=wiico.hkxf.org;initial catalog=wiicodb;User ID=developer;Password=developer;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=3000;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AzureUnitTestDB" connectionString="data source=wiico.hkxf.org;initial catalog=wiicoTestdb;User ID=developer;Password=developer;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=3000;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AzureHkxfDB" connectionString="data source=hkxf.database.windows.net,1433;initial catalog=wiico;User ID=pako;Password=Tel!27005858;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=3000;App=EntityFramework" providerName="System.Data.SqlClient" />


    <add name="FlipusDB" connectionString="data source=140.137.200.106;initial catalog=FlipusDB;User ID=FlipusApp;Password=FlipusDeveloper123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="iThinkDB" connectionString="data source=icanbeta3;initial catalog=iThink.Web.Models.iThinkModels;User ID=sa;Password=admin@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="iCan6DB" connectionString="data source=192.168.5.67,1488;initial catalog=iCan6DB;User ID=EduTech;Password=IamiCAN6DeptDBO;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="iCan6DB" connectionString="data source=192.168.5.67,1488;initial catalog=iCan6DB;User ID=yushuchen;Password=bls5926125;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ICAN5Entities" connectionString="metadata=res://*/Database.ican5.csdl|res://*/Database.ican5.ssdl|res://*/Database.ican5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icanbeta3;initial catalog=ICAN5;persist security info=True;user id=ican5;Password=2007ican4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="edurpEntities" connectionString="metadata=res://*/Database.edurp.csdl|res://*/Database.edurp.ssdl|res://*/Database.edurp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.31\edurp,1688;initial catalog=edurp;persist security info=True;user id=edurpread4ican;Password=c93au061l31l3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACPDEntities" connectionString="metadata=res://*/Database.acpd.csdl|res://*/Database.acpd.ssdl|res://*/Database.acpd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.46;initial catalog=CECDB;persist security info=True;user id=Api_WebAp;Password=apipw27005858;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>